/* normalize*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    list-style: none;
    text-decoration: none;
    color: white;
}

body{
    background-color: black;
}

header{
    position: fixed; /* lo fija en la parte superior */
    right: 0;
    top: 0;
    z-index: 100; /* superpone la barra sobre todo */
    width: 100%;
    display: flex; /* coloca los elementos en linea*/
    align-items: center; /* centra verticalmente */
    justify-content: space-between; /* separa elementos */
    padding: 15px 3%;
    background-color: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 800;
}

.navlist {
    display: flex; /* elementos en linea */
}

.navlist a {
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .5s ease; /* transicion en los elementos del navlist */
}

.navlist a:hover {
    border-bottom: 2px solid white; /* sobre los elementos muestra el solidsub */
}

#menu-icon{
    display: none; /* si colapsa se muestra el icono*/
}
#menu-icon{
    font-size: 35px;
    z-index: 101;
    cursor: pointer;
}

#menu-toggle{
    display: none; /* esconder el checkbox permanentemente */
}

.menu-icon-action{
    display: none; /* inhabilitar accion del checkbox */
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #31494e 0%, #385e70 25%, #131313 75%); /* fondeo color gradiente */
    position: relative; /* para que sea contenedor relativo */
    display: grid; /* el hero se divide en 2 columnas */
    grid-template-columns: 1fr 1fr ; /* fraccionando el hero */
    align-items: center; /* alinear vertical el hero */
    gap: 2rem; /* espacio entre las 2 columnas */
}